@tailwind base;
@tailwind components;
@tailwind utilities;
.landing:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  z-index: -5;
  width: 100%;
  background: linear-gradient(to bottom, #0b0b0b, transparent);

}
